<ion-header>
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let chat of chats1$ | async" > <!-- Revisar lo del async-->
        <ion-card (click)="irConversacion($event, chat)"> {{chat.user2}}</ion-card>
        
      </ion-item>
  </ion-list>
   <ion-list>
    <ion-item *ngFor="let chat of chats2$ | async">
        <ion-card (click)="irConversacion($event, chat)"> {{chat.user1}} </ion-card>
      </ion-item>
  </ion-list>
</ion-content>
