<ion-header>
  <ion-toolbar>
    <ion-title>
      Clases
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- En esta pagina será distinta en funcion del rol
en el caso de el profesor aparecera toda la informacion necesaria para crear una pagina
en el caso del alumno aparecera todal la informacion necesaria para la pagina-->

<ion-content>
<!-- Apartado del profesor-->
<ion-card id="Profesor" *ngIf="this.esProfesor">
<ion-card-header>
  <button ion-button (click)="this.crearClase()">Añadir Clase</button> <!-- Boton para implemental que se une a la clase-->
</ion-card-header>
  <ion-card-content>
          <ion-list>
            <ion-row>
              <ion-col text-center>
                Día
              </ion-col>
              <ion-col text-center>
                Hora
              </ion-col>
              <ion-col text-center>
                Nivel
              </ion-col>
            </ion-row>
              <ion-card  *ngFor="let clase of clases | async let i = index" >
                <ion-card-header (click)="ampliarClase(i,clase)" >
                  <ion-row>
                    <ion-col text-center>
                      <strong>{{clase.dia}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.hora}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.nivel}} </strong>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="mostrado[i]" >
                  <ion-row>
                    <ion-col>
                        <ion-list>
                            Alumnos Provisionales
                              <ion-item *ngFor="let alumnoProvisional of alumnosProvisional | async let j=index">
                                <ion-row>
                                    <ion-col>
                                      {{alumnoProvisional.nombre}}
                                    </ion-col>
                                    <ion-col text-left>
                                      <button ion-button (click)="addFinalAlumno(alumnoProvisional,clase)">+</button>  
                                    </ion-col>
                                </ion-row>
                                </ion-item>
                          </ion-list>
                    </ion-col>
                    <ion-col>
                      <ion-list>
                          Alumnos Finales
                            <ion-item *ngFor="let alumnoFinal of alumnosFinal | async let j=index">
                              <ion-row>
                                  <ion-col>
                                    {{alumnoFinal.nombre}}
                                  </ion-col>
                                  <ion-col>
                                    <button ion-button (click)="removeFinalAlumno(alumnoFinal,clase)">-</button>  
                                  </ion-col>
                              </ion-row>
                              </ion-item>
                        </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
                 <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
          </ion-list>
  </ion-card-content>
</ion-card> 
<!-- Apartado del alumno-->
  <ion-card id="Alumno" *ngIf="!this.esProfesor">
    <ion-card-header>Mis Clases</ion-card-header>   
      <ion-card-content>
          <ion-list>
            <ion-row>
              <ion-col text-center>
                Día
              </ion-col>
              <ion-col text-center>
                Hora
              </ion-col>
              <ion-col text-center>
                Nivel
              </ion-col>
            </ion-row>
              <ion-card  *ngFor="let clase of clases | async let i = index" >
                <ion-card-header (click)="ampliarClase(i,clase)" >
                  <ion-row>
                    <ion-col text-center>
                      <strong>{{clase.dia}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.hora}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.nivel}} </strong>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="mostrado[i]" >
                  <ion-row>
                    <ion-col>
                        <ion-list>
                            Alumnos
                              <ion-item *ngFor="let alumnoFinal of alumnosFinal | async let j=index">
                                <ion-row text-center>
                                    <ion-col>
                                      {{alumnoFinal.nombre}}
                                    </ion-col>
                                </ion-row>
                                </ion-item>
                          </ion-list>
                      </ion-col>
                    </ion-row>
                </ion-card-content>
              </ion-card>
                 <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
          </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card id="Alumno" *ngIf="!this.esProfesor">
      <ion-card-header>Todas las clases</ion-card-header>   
        <ion-card-content>
            <ion-list>
              <ion-row>
                <ion-col text-center>
                  Día
                </ion-col>
                <ion-col text-center>
                  Hora
                </ion-col>
                <ion-col text-center>
                  Nivel
                </ion-col>
              </ion-row>
                <ion-card *ngFor="let clase of clasesTodas | async let i = index" >
                  <ion-card-header (click)="ampliarClase(i,clase)" >
                    <ion-row>
                      <ion-col text-center>
                        <strong>{{clase.dia}}</strong>
                      </ion-col>
                      <ion-col  text-center>
                        <strong>{{clase.hora}}</strong>
                      </ion-col>
                      <ion-col  text-center>
                        <strong>{{clase.nivel}} </strong>
                      </ion-col>
                    </ion-row>
                  </ion-card-header>
                  <ion-card-content *ngIf="mostrado[i]" >
                      <ion-row text-center>
                          <ion-col>
                              <ion-list>
                                  Alumnos
                                    <ion-item *ngFor="let alumnoFinal of alumnosFinal | async let j=index">
                                      <ion-row text-center>
                                          <ion-col>
                                            {{alumnoFinal.nombre}}
                                          </ion-col>
                                      </ion-row>
                                      </ion-item>
                                </ion-list>
                            </ion-col>
                          </ion-row>
                    <ion-row text-center>
                      <ion-col>
                        <button ion-button (click)="unirAUnaClase(clase)">Unirme</button>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
                   <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
            </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
