<ion-header>
  <ion-toolbar>
    <ion-title>
      Clases
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- En esta pagina será distinta en funcion del rol
en el caso de el profesor aparecera toda la informacion necesaria para crear una pagina
en el caso del alumno aparecera todal la informacion necesaria para la pagina-->

<ion-content>
<!-- Apartado del profesor-->
<ion-card id="Profesor" *ngIf="this.esProfesor">
<ion-card-header>
  <button ion-button (click)="this.crearClase()">Añadir Clase</button> <!-- Boton para implemental que se une a la clase-->
</ion-card-header>
  <ion-card-content>
          <ion-list>
            <ion-row>
              <ion-col text-center>
                Día
              </ion-col>
              <ion-col text-center>
                Hora
              </ion-col>
              <ion-col text-center>
                Nivel
              </ion-col>
            </ion-row>
              <ion-card  *ngFor="let clase of clases | async let i = index" >
                <ion-card-header (click)="ampliarClase(i)" >
                  <ion-row>
                    <ion-col text-center>
                      <strong>{{clase.dia}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.hora}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.nivel}} </strong>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="mostrado[i]" >
                  <ion-list>
                    Alumnos
                    Estaría guay mostrar la lista de alumnos
                  </ion-list>
                </ion-card-content>
              </ion-card>
                 <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
          </ion-list>
  </ion-card-content>
</ion-card> 
<!-- Apartado del alumno-->
  <ion-card id="Alumno" *ngIf="!this.esProfesor">       
        <ion-card-content>
            
              <!-- Cuando este la informacion habra que añadir los valores que se pongan-->
            <ion-label> Horario:</ion-label><br> <!-- Mirar como hacerlo-->
            <ion-label>Profesor:</ion-label><br>
            <ion-label>Nivel:</ion-label><br>
            <ion-label>Plazas:</ion-label><br>
            <ion-label>Alumnos:</ion-label><br>
            
        </ion-card-content>
</ion-card>
</ion-content>
