<ion-header>
  <ion-toolbar>
    <ion-title>
      Clases
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- En esta pagina será distinta en funcion del rol
en el caso de el profesor aparecera toda la informacion necesaria para crear una pagina
en el caso del alumno aparecera todal la informacion necesaria para la pagina-->

<ion-content>
<!-- Apartado del profesor-->
<ion-card id="Profesor" *ngIf="this.esProfesor">
  <ion-card-content>
          <ion-list>
            <ion-row>
              <ion-col text-center>
                Día
              </ion-col>
              <ion-col text-center>
                Hora
              </ion-col>
              <ion-col text-center>
                Nivel
              </ion-col>
            </ion-row>
              <ion-card  *ngFor="let clase of clases | async let i = index"  >
                <ion-card-header (click)="ampliarClase(i,clase)" >
                  <ion-row>
                    <ion-col text-center>
                      <strong>{{clase.dia}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.hora}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.nivel}} </strong>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="mostrado[i]" >
                  <ion-row text-center>
                    <ion-col text-center>
                        <ion-list text-center>
                            Alumnos Provisionales
                              <ion-item *ngFor="let alumnoProvisional of alumnosProvisional | async let j=index">
                                <ion-row text-center>
                                    <ion-col >
                                      {{alumnoProvisional.nombre}}
                                    </ion-col>
                                    <ion-col text-right>
                                      <button ion-button clear (click)="addFinalAlumno(i,alumnoProvisional,clase)" shape="small">
                                        <ion-icon name="arrow-dropright" style="zoom:2.0;color: #488aff;"></ion-icon>
                                      </button>
                                    </ion-col>
                                </ion-row>
                                </ion-item>
                          </ion-list>
                    </ion-col >
                    <ion-col text-center>
                      <ion-list text-center>
                          Alumnos Finales
                            <ion-item *ngFor="let alumnoFinal of alumnosFinal | async let j=index">
                              <ion-row text-center>
                                  <ion-col text-left>
                                      <button ion-button clear (click)="removeFinalAlumno(i,alumnoFinal,clase)" shape="small">
                                          <ion-icon name="arrow-dropleft"  style="zoom:2.0;color: #488aff;"></ion-icon>
                                      </button>  
                                    </ion-col>
                                  <ion-col>
                                    {{alumnoFinal.nombre}}
                                  </ion-col>
                              </ion-row>
                              </ion-item>
                        </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
                 <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
          </ion-list>
  </ion-card-content>
</ion-card> 
<!-- Apartado del alumno-->
  <ion-card id="Alumno" *ngIf="!this.esProfesor">
    <ion-card-header>Mis Clases</ion-card-header>   
      <ion-card-content>
          <ion-list>
            <ion-row text-center>
              <ion-col text-center>
                Día
              </ion-col>
              <ion-col text-center>
                Hora
              </ion-col>
              <ion-col text-center>
                Nivel
              </ion-col>
            </ion-row>
              <ion-card  *ngFor="let clase of clases | async let i = index" >
                <ion-card-header (click)="ampliarClase(i,clase)" >
                  <ion-row text-center>
                    <ion-col text-center>
                      <strong>{{clase.dia}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.hora}}</strong>
                    </ion-col>
                    <ion-col  text-center>
                      <strong>{{clase.nivel}} </strong>
                    </ion-col>
                  </ion-row>
                </ion-card-header>
                <ion-card-content *ngIf="mostrado[i]" >
                  <ion-row text-center>
                    <ion-col text-center>
                        <ion-list>
                            Alumnos
                              <ion-item *ngFor="let alumnoFinal of alumnosFinal | async let j=index">
                                <ion-row text-center>
                                    <ion-col text-center>
                                      {{alumnoFinal.nombre}}
                                    </ion-col>
                                </ion-row>
                                </ion-item>
                          </ion-list>
                      </ion-col>
                    </ion-row>
                </ion-card-content>
              </ion-card>
                 <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
          </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card id="Alumno" *ngIf="!this.esProfesor">
      <ion-card-header>Todas las clases</ion-card-header>   
        <ion-card-content>
            <ion-list>
              <ion-row>
                <ion-col text-center>
                  Día
                </ion-col>
                <ion-col text-center>
                  Hora
                </ion-col>
                <ion-col text-center>
                  Nivel
                </ion-col>
              </ion-row>
                <ion-card *ngFor="let clase of clasesTodas | async let i = index" >
                  <ion-card-header (click)="ampliarClase(i,clase)" >
                    <ion-row text-center>
                      <ion-col text-center>
                        <strong>{{clase.dia}}</strong>
                      </ion-col>
                      <ion-col  text-center>
                        <strong>{{clase.hora}}</strong>
                      </ion-col>
                      <ion-col  text-center>
                        <strong>{{clase.nivel}} </strong>
                      </ion-col>
                    </ion-row>
                  </ion-card-header>
                  <ion-card-content *ngIf="mostrado[i]" >
                      <ion-row text-center>
                          <ion-col text-center>
                              <ion-list>
                                  Alumnos
                                    <ion-item *ngFor="let alumnoFinal of alumnosFinal | async let j=index">
                                      <ion-row text-center>
                                          <ion-col text-center>
                                            {{alumnoFinal.nombre}}
                                          </ion-col>
                                      </ion-row>
                                      </ion-item>
                                </ion-list>
                            </ion-col>
                          </ion-row>
                    <ion-row text-center>
                      <ion-col>
                        <button ion-button (click)="unirAUnaClase(clase)">Unirme</button>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                </ion-card>
                   <!-- AUna opcion para darle formato a esto podria ser hacer un select y en funcion de la clase que seleccione se muestre.-->
            </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab bottom center #fab *ngIf="this.esProfesor">
    <button ion-fab (click)="this.crearClase()">
      +
    </button> 
  </ion-fab>
</ion-content>
