<ion-header>
  <ion-toolbar>
    <ion-title>
      PadelClub
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Añadir alguna descripcion o foto para dejarlo bonito-->
<ion-content>
  <!-- -->
  <ion-card>
    <ion-card-header>
      <ion-card-title> Noticia1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nuevas clases
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <ion-card-title> Noticia2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        asdasddasfsafasfsafasd
      </ion-card-content>
    </ion-card>
</ion-content>
