<ion-header>
  <ion-toolbar>
    <ion-title>
      PadelClub
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ viewTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      step="30"
      class="calendar">
    </calendar>
    </ion-card-content>
  </ion-card>
</ion-content>
